h1 {
    font-size: 48px;
}
h2 {
    font-size: 32px;
}
h4 {
    font-size: 20px;
    color: black;
}
font 
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 100%; /* Full height */
    width: 100%; /* Full width */
    text-align: justify;
}
header, section {
    padding: 20px;
    margin: 20px;
}
.links-ausrichten {
    text-align: left;
}
.zentriert-ausrichten {
    text-align: center;
}
.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bild-platzhalter {
    width: 65%;
    height: auto; /* Responsive height */
    text-align: center;
    font-size: 24px;
}
.text-kasten {
    flex-grow: 1;
    margin-left: 20px;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 10px;
    width:  35%;
    height: auto;
    transition: 0.5s;
    text-align: justify;
}
.text-kasten:hover {
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.4);
}
@media (max-width: 768px) {
    .flex-container {
        flex-direction: column;
    }
    .bild-platzhalter, .text-kasten {
        width: 90%; /* Adjust width for smaller screens */
        margin: 10px auto;
    }
}

.slider {
	width: 100%;
}
.slider input {
	display: none;
}
.testimonials {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	height: 390px;
	perspective: 1000px;
	overflow: hidden;
}
.testimonials .item {
	width: 380px;
	border-radius: 5px;
	background-color: #f0f0f0;
	position: absolute;
	top: 0;
	box-sizing: border-box;
	text-align: justify;
	transition: transform 0.4s;
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
	user-select: none;
	cursor: pointer;
    margin: 10px;
    padding: 20px;
}

.testimonials .item p {
	color: black;
}
.testimonials .item h2 {
	font-size: 14px;
}
.dots {
	display: flex;
	justify-content: center;
	align-items: center;
}
.dots label {
	height: 5px;
	width: 5px;
	border-radius: 50%;
	cursor: pointer;
	background-color: black;
	margin: 7px;
	transition-duration: 0.2s;
}

#t-1:checked ~ .dots label[for="t-1"],
#t-2:checked ~ .dots label[for="t-2"],
#t-3:checked ~ .dots label[for="t-3"],
#t-4:checked ~ .dots label[for="t-4"],
#t-5:checked ~ .dots label[for="t-5"] {
	transform: scale(2);
	background-color: black;
}
#t-1:checked ~ .dots label[for="t-2"],
#t-2:checked ~ .dots label[for="t-1"],
#t-2:checked ~ .dots label[for="t-3"],
#t-3:checked ~ .dots label[for="t-2"],
#t-3:checked ~ .dots label[for="t-4"],
#t-4:checked ~ .dots label[for="t-3"],
#t-4:checked ~ .dots label[for="t-5"],
#t-5:checked ~ .dots label[for="t-4"] {
	transform: scale(1.5);
}
#t-1:checked ~ .testimonials label[for="t-3"],
#t-2:checked ~ .testimonials label[for="t-4"],
#t-3:checked ~ .testimonials label[for="t-5"],
#t-4:checked ~ .testimonials label[for="t-1"],
#t-5:checked ~ .testimonials label[for="t-2"] {
	transform: translate3d(600px, 0, -180px) rotateY(-25deg);
	z-index: 2;
}
#t-1:checked ~ .testimonials label[for="t-2"],
#t-2:checked ~ .testimonials label[for="t-3"],
#t-3:checked ~ .testimonials label[for="t-4"],
#t-4:checked ~ .testimonials label[for="t-5"],
#t-5:checked ~ .testimonials label[for="t-1"] {
	transform: translate3d(300px, 0, -90px) rotateY(-15deg);
	z-index: 3;
}
#t-2:checked ~ .testimonials label[for="t-1"],
#t-3:checked ~ .testimonials label[for="t-2"],
#t-4:checked ~ .testimonials label[for="t-3"],
#t-5:checked ~ .testimonials label[for="t-4"],
#t-1:checked ~ .testimonials label[for="t-5"] {
	transform: translate3d(-300px, 0, -90px) rotateY(15deg);
	z-index: 3;
}
#t-3:checked ~ .testimonials label[for="t-1"],
#t-4:checked ~ .testimonials label[for="t-2"],
#t-5:checked ~ .testimonials label[for="t-3"],
#t-2:checked ~ .testimonials label[for="t-5"],
#t-1:checked ~ .testimonials label[for="t-4"] {
	transform: translate3d(-600px, 0, -180px) rotateY(25deg);
}
#t-1:checked ~ .testimonials label[for="t-1"],
#t-2:checked ~ .testimonials label[for="t-2"],
#t-3:checked ~ .testimonials label[for="t-3"],
#t-4:checked ~ .testimonials label[for="t-4"],
#t-5:checked ~ .testimonials label[for="t-4"],
#t-5:checked ~ .testimonials label[for="t-5"] {
	z-index: 4;
}
.container {
    display: flex;
    width: 100%;
}
.box {
flex: 1;
padding: 20px;
text-align: left;
background-color: #f0f0f0;
border-radius: 10px;
margin: 10px;
box-sizing: border-box;
transition: 0.5s;
}
.box:hover {
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.4);
}
.Face {
    position:relative;
    width: 18vw;
    height: 18vw;
    border-radius: 50%;
    background: #ffcd00;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.row {
    display: flex;
    justify-content: space-between;
    text-align: justify;
}
.Face::before {
    content: '';
    position: absolute;
    top: 24vh;
    width: 10vw;
    height: 8vh;
    background: #b57700;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    transition: 0.5s;
}
.Face:hover::before {
    top: 26vh;
    width: 30vw;
    height: 8vh;
    background: #b57700;
    border-radius: 50%;
    width: 4vw;
}
.eyes {
    position: relative;
    top: -40px;
    display: flex;
}
.eyes .eye {
    position: relative;
    width: 5vw;
    height: 5vw;
    display: block;
    background: #fff;
    margin: 0 1vw;
    border-radius: 50%;
}
.eyes .eye::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translate(-50%, -50%);
    width: 2vw;
    height: 2vw;
    background: #333;
    border-radius: 50%;

}
.uber-mich {
    flex-basis: 31%;
    background: #f0f0f0;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
    text-align: justify;
}
.uber-mich:hover {
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.4); 
}
.fahren {
    width: 100%;
    height: auto;
}
.pfeile {
    width: 80px;
    height: 80px;
}
.reihe {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.meins {
    flex-basis: 31%;
    border-radius: 10px;
    box-sizing: border-box;
    transition: 0.5s;
}
.meine {
    flex-basis: 31%;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
}
.gedreht {
    transform: rotate(-180deg);
    width: 400px;
    height: auto;
    margin-top: 5vh;
}
.normal {
    width: 400px;
    height: auto;
    margin-top: 5vh;
    border-radius: 10px;
}
.box-in-box {
    background: #f0f0f0;
    width: 40vw;
    height: 15vw;
    flex: 1;
    padding: 20px;
    text-align: justify;
    border-radius: 10px;
    box-sizing: border-box;
    transition: 0.5s;

}
.box-in-box:hover {
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.4); 
}